<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content="{% block content_description %}{% endblock %}">
    <meta name="author" content="kedepo">
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">

</head>


<body>

{% import 'macros/macros.html' as macros %}

<header>
    {#    <a href="index.html"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>#}

    <nav>
        <ul>
            <li>{{ macros.genereer_link('/', 'Live') }}</li>
            <li>{{ macros.genereer_link('/history', 'History') }}</li>
            <li>{{ macros.genereer_link('/settings', 'Settings ') }}</li>
            <li ><div class="img_logout"><a href="/"><img src="{{ url_for('static', filename='img/logout_icon.png') }}"></a></div></li>
        </ul>
    </nav>
</header>

<div class="content">
   {% block body %}
   {% endblock %}
</div>


<footer>
    <ul>
        <li><a href="about.html" title="About">About</a></li>
        <li><a href="about.html" title="Instructables">Instructables</a></li>
        <li><a href="about.html" title="Portfolio">Portfolio</a></li>
        <li class="float_right">Copyright kedepo</li>
    </ul>
</footer>

{% block scripts %}{% endblock %}

</body>
</html>