{% extends 'base.html' %}

{% block title %}
    Settings
{% endblock %}


{% block body %}
    <h1>Settings</h1>
    <h2>Alarm settings</h2>
    <form method="post" title="settings" name="alarm_settings">
        <h3>Notifications</h3>
        <label class="make_180px_width" for="led_alarm_enabeld">led alarm enabeld</label>
        <input  type="checkbox" name="led_alarm_enabeld" value="0" id="led_alarm_enabeld" title="led alarm enabeld" {% if 1 == result['led_alarm_enabeld'] %}checked=""{% endif %}>
        <br>
        <label class="make_180px_width" for="sound_alarm_enabeld">sound alarm enabeld</label>
        <input type="checkbox" name="sound_alarm_enabled" id="sound_alarm_enabled" value="1" title="sound alarm enabled" {% if 1 == result['sound_alarm_enabled'] %}checked=""{% endif %}>
        <br>
        <label class="make_180px_width" for="email_alarm_enabeld">email alarm enabeld</label>
        <input type="checkbox" name="email_alarm_enabled" value="1" title="email alarm enabled"  {% if 1 == result['email_alarm_enabled'] %}checked=""{% endif %}>
        <br>
        <label class="make_180px_width" for="sms_alarm_enabeld">sms alarm enabeld</label>
        <input type="checkbox" name="sms_alarm_enabled" value="1" title= "sms alarm enabled"  {% if 1 == result['sms_alarm_enabled'] %}checked=""{% endif %}><br>
        <br>

        <h3>Food alarms</h3>
        <label class="make_180px_width" for="led_alarm_enabeld">food alarm enabled</label>
        <input type="checkbox" name="food_alarm_enabled" value="1" title="food alarm enabled" {% if 1 == result['food_alarm_enabled'] %}checked=""{% endif %}><br>
        <label class="make_180px_width" for="food_alarm_treshold">food alarm treshold</label>
        <input class="make_50px_width" type="number" name="food_alarm_threshold" min="1" max="100" value="{{ result['food_alarm_threshold'] }}" title= "food alarm treshold"><br>
        <br>

        <h3>Drink alarms</h3>
        <label class="make_180px_width" for="led_alarm_enabeld">drink alarm enabled</label>
        <input type="checkbox" name="drink_alarm_enabled" value="1" title="drink alarm enabled" {% if 1 == result['drink_alarm_enabled'] %}checked=""{% endif %}><br>
        <label class="make_180px_width" for="drink_alarm_treshold">drink alarm treshold</label>
        <input class="make_50px_width" type="number" name="drink_alarm_threshold" min="1" max="100"  value="{{ result['drink_alarm_threshold'] }}" title= "drink alarm treshold"><br>
        <br>

        <h3>Provision alarms</h3>
        <label class="make_180px_width" for="led_alarm_enabeld">provision alarm enabled</label>
        <input type="checkbox" name="provision_alarm_enabled" value="1" title="provision alarm enabled" {% if 1 == result['provision_alarm_enabled'] %}checked=""{% endif %}><br>
        <label class="make_180px_width" for="provision_alarm_treshold">provision alarm treshold</label>
        <input class="make_50px_width" type="number" name="provision_alarm_threshold" min="1" max="100"  value="{{ result['provision_alarm_threshold'] }}"  title= "provision alarm treshold"><br>
        <br>

        <h3>Personal</h3>
        <label class="make_180px_width" for="email">email:</label>
        <input type="email" name="email" title="email"  value="{{ result['email'] }}" ><br>
        <label class="make_180px_width" for="phone_number">phone number:</label>
        <input type="tel" name="phone_number" title="phone number"  value="{{ result['phone_number'] }}" ><br>

        <input type="submit" value="Submit alarm settings"><br>

        <br>
        <br>
    </form>

    <h2>Pasword settings</h2>
    <form method="post" title="pasword_change" name="pasword">
        <h3>Change pasword</h3>
        <label class="make_180px_width" for="old_password"> old password</label><input type="password" title="old pasword"><br>
        <label class="make_180px_width" for="new_password"> new password</label><input type="password" title="new pasword"><br>

        <input type="submit" value="Submit">
    </form>

    <h2>Feeding settings</h2>
    <form method="post" title="feeding_settings">
        <h3>Change pasword</h3>
        <input type="submit" value="Submit">
    </form>

{% endblock %}

{#{% block scripts %}#}
{#    <script>#}
{#        radio_values = {{ radio_values }};#}
{#        radio_id = {{ radio_id }};#}
{##}
{#        for (var i = 0; i < radio_values.length; i++) {#}
{#            document.getElementById(radio_id[radio_id]).checked = true;#}
{#        }#}
{##}
{#    </script>#}
{#{% endblock %}#}